<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            aria-describedby="search-button" value={{keyword}}>
          <div class=" input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">

  <form action="/restaurants/{{restaurantEdit._id}}?_method=PUT" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">餐廳名稱：</label>
      <input type="text" class="form-control" placeholder="name" name="name" value="{{restaurantEdit.name}}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">餐廳英文名稱：</label>
      <input type="text" class="form-control" placeholder="name_en" name="name_en" value="{{restaurantEdit.name_en}}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">類別：</label>
      <input type="text" class="form-control" placeholder="category" name="category"
        value="{{restaurantEdit.category}}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">地址：</label>
      <input type="text" class="form-control" placeholder="location" name="location"
        value="{{restaurantEdit.location}}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">電話：</label>
      <input type="text" class="form-control" placeholder="phone" name="phone" value="{{restaurantEdit.phone}}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">評價 (1~5)：</label>
      <input type="text" class="form-control" placeholder="rating" name="rating" value="{{restaurantEdit.rating}}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">餐廳介紹：</label>
      <input type="text" class="form-control" placeholder="description" name="description"
        value="{{restaurantEdit.description}}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">請上傳圖片：</label>
      <input type="text" class="form-control" placeholder="image" name="image" value="{{restaurantEdit.image}}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Google Map：</label>
      <input type="text" class="form-control" placeholder="google_map" name="google_map"
        value="{{restaurantEdit.google_map}}">
    </div>
    <button type="submit" class="btn btn-outline-primary">更新餐廳資訊</button>
  </form>
</div>