<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            aria-describedby="search-button" value={{keyword}}>
          <div class=" input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">

  <form action="/restaurants/new" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">餐廳名稱：</label>
      <input type="text" class="form-control" placeholder="請輸入餐廳名稱" name="name" required>
      {{#if message}}<small id="emailHelp" class="text-danger form-text">{{message}}</small>{{/if}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">餐廳英文名稱：</label>
      <input type="text" class="form-control" placeholder="請輸入餐廳英文名稱" name="name_en" required>
      {{#if message}}<small id="emailHelp" class="text-danger form-text">{{message}}</small>{{/if}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">類別：</label>
      <input type="text" class="form-control" placeholder="請輸入類別" name="category" required>
      {{#if message}}<small id="emailHelp" class="text-danger form-text">{{message}}</small>{{/if}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">地址：</label>
      <input type="text" class="form-control" placeholder="請輸入地址" name="location" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">電話：</label>
      <input type="Number" class="form-control" placeholder="請輸入電話" name="phone" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">評價 (1~5)：</label>
      <input type="Number" class="form-control" placeholder="請輸入評價" name="rating" required>
      {{#if message}}<small id="emailHelp" class="text-danger form-text">{{message}}</small>{{/if}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">餐廳介紹：</label>
      <input type="text" class="form-control" placeholder="請輸入介紹" name="description">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">請上傳圖片：</label>
      <input type="text" class="form-control" placeholder="請輸入圖片網址" name="image" required>
      {{#if message}}<small id="emailHelp" class="text-danger form-text">{{message}}</small>{{/if}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Google Map：</label>
      <input type="text" class="form-control" placeholder="請輸入地圖網址" name="google_map">
    </div>
    <button type="submit" class="btn btn-outline-primary">新增餐廳</button>
  </form>
</div>